<html>
<head><title>Member Search</title></head>
<body bgcolor="#ECECEC">
<table border="1" cellpadding="4" cellspacing="0" width="500">
  <tr><td bgcolor="#003366"><font color="white" face="Arial"><b>Core Banking Console &mdash; Member Search</b></font></td></tr>
  <tr>
    <td>
      <form method="get" action="/search">
        <table border="0">
          <tr>
            <td><label for="mid1">Member ID:</label></td>
            <td><input type="text" id="mid1" name="member_id" size="20"></td>
          </tr>
          <tr>
            <td colspan="2" align="right"><input type="submit" value="Search"></td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
</body>
</html>
